/* *{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #0a0a0a;
}
.main{
    color: rgba(255, 255, 255, 0.801);
}
#intro{
    width: 40vw;
    margin: 200px auto 0px auto;

}
h4{
    margin-bottom: 10px;
    color: white;
}
#p1{
    margin-bottom: 10px;
}
#p2{
    margin-bottom: 20px;
}
#p3{
    margin-bottom: 20px;
}
#p4{
    margin-bottom: 50px;
}
#skills{
    display: flex;
    margin-bottom: 30px;

}
.sk{
    text-align: center;
    border: 2px dotted black;
    margin: 0px 10px 0px 2px;
    border-radius: 60px;
    border-color: bisque;
}
#p5{
    margin-top: 10px;
    margin-bottom: 10px;
}
.deco{
    height: 40vh;
    width: 35vw;
    background:linear-gradient(135deg, #0f0f0f, #1a1f29);
    margin: 20px auto 30px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.deco:hover {
  transform: scale(1.1);  
}
#amazonimg{
    height: 20vh;
    width: 10vw;
}
#saledesign{
    background:linear-gradient(135deg, pink, #b6539d);
}
h3{
    font-size: 70px;
    text-decoration: none;
    font-family: cursive;
}
#footer{
    width: 100vw;
    height: 40vh;
    background: linear-gradient(to bottom,#0a0a0a ,rgb(3, 1, 70));
    font-size: 100px;
    font-weight: bolder;
    color: #f3f3f3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#X{
    color: white;
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(5, 123, 233);
} */




*{
    padding: 0vw;
    margin: 0vw;
}
body{
    background-color: #0a0a0a;
}
.main{
    color: rgba(255, 255, 255, 0.801);
}
#intro{
    width: 40vw;
    margin: 10vw auto 0vw auto;
}
h4{
    margin-bottom: 0.5vw;
    color: white;
}
#p1{
    margin-bottom: 0.5vw;
}
#p2{
    margin-bottom: 1vw;
}
#p3{
    margin-bottom: 1vw;
}
#p4{
    margin-bottom: 2.5vw;
}
#skills{
    display: flex;
    margin-bottom: 1.5vw;
}
.sk{
    text-align: center;
    border: 0.1vw dotted black;
    margin: 0vw 0.5vw 0vw 0.1vw;
    border-radius: 6vw;
    border-color: bisque;
}
#p5{
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
.deco{
    height: 20vw;
    width: 30vw;
    background:linear-gradient(135deg, #0f0f0f, #1a1f29);
    margin: 1vw auto 1.5vw auto;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.deco:hover {
  transform: scale(1.1);  
}
#amazonimg{
    height: 10vw;
    width: 10vw;
}
#saledesign{
    background:linear-gradient(135deg, pink, #b6539d);
}
h3{
    font-size: 5vw;
    text-decoration: none;
    font-family: cursive;
}
#footer{
    width: 100vw;
    height: 40vh;
    background: linear-gradient(to bottom,#0a0a0a ,rgb(3, 1, 70));
    font-size: 7vw;
    font-weight: bolder;
    color: #f3f3f3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#X{
    color: white;
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(5, 123, 233);
}

