
*{
    padding: 0vw;
    margin: 0vw;
}
body{
    background-color: #0a0a0a;
}
.main{
    color: rgba(255, 255, 255, 0.801);
}
#intro{
    width: 50vw;
    margin: 10vw auto 0vw auto;
}
h4{
    margin-bottom: 1vw;
    color: white;
}
#p1{
    margin-bottom: 1vw;
}
#p2{
    margin-bottom: 2vw;
}
#p3{
    margin-bottom: 2vw;
}
#p4{
    margin-bottom: 5vw;
}
#skills{
    display: flex;
    margin-bottom: 3vw;
}
.sk{
    text-align: center;
    border: 0.1vw dotted black;
    margin: 0vw 0.5vw 0vw 0.1vw;
    border-radius: 6vw;
    border-color: bisque;
}
#p5{
    margin-top: 0.5vw;
    margin-bottom: 1vw;
}
.deco{
    height: 20vw;
    width: 30vw;
    background:linear-gradient(135deg, #0f0f0f, #1a1f29);
    margin: 1vw auto 3vw auto;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.deco:hover {
  transform: scale(1.1);  
}
#amazonimg{
    height: 10vw;
    width: 10vw;
}
#saledesign{
    background:linear-gradient(135deg, pink, #b6539d);
}
h3{
    font-size: 5vw;
    text-decoration: none;
    font-family: cursive;
}
#footer{
    width: 100vw;
    height: 40vw;
    background: linear-gradient(to bottom,#0a0a0a ,rgb(3, 1, 70));
    font-size: 7vw;
    font-weight: bolder;
    color: #f3f3f3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#X{
    color: white;
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(5, 123, 233);
}
@media (max-width: 600px) {
  .deco {
    width: 181.8px;     
    height: 121.2px;    
  }
  #footer{
    font-weight:7vw;
  }
  #intro{
    width: 80vw;
    margin: 20vw auto;
  }
  #p4{
    margin-bottom: 8vw;
  }
  #p3{
    margin-bottom: 4vw;
  }
  #p5{
    margin-bottom: 2vw;
  }

}
#X:hover{
    color: #3A86FF;
}


